*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 35px 12%;
    background-color:transparent;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 500;
}

.logo{
    font-size: 25px;
    color: 	#C0C0C0;
    font-weight: 600;
    transition: 0.3s ease;
}
.logo:hover{
    color: #b74b4b;
    text-shadow: 0 0 25px#b74b4b,
                 0 0 50px #b74b4b;
    transform: scale(1.1);
}
span{
    color: #b74b4b;
}
 /*Navbar*/
.navbar a{
    font-size: 18px;
    color: 	#C0C0C0;
    font-weight: 500;
    margin: 0 20px;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;
}
.navbar a:hover,
.navbar a.hover{
    color: #b74b4b;
    border-bottom: 3px solid #b74b4b;
}

.contact{
    padding: 10px 28px;
    background-color: 	#C0C0C0;
    color: black;
    border: 2px solid transparent;
    border-radius: 8px;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3 ease;

}
.contact:hover{
background-color: #b74b4b;
box-shadow:0 0 25px #b74b4b;
color : 	#C0C0C0;
}

/* Intro nako*/
.home{
    width: 100%;
    background: rgb(170, 144, 144);
    display: flex;
    align-items: center;
    gap: 7em;
    padding: 30px 12% 0;
}
.home-content{
    max-width: 800px;
}
.home-content h3{
    margin-top: 55px;
    font-size: 50px;
}
.home-content h1{
    font-size: 62px;
    line-height: 1.2;
}
.home-content p{
    font-size: 18px;
    margin: 25px 0 30px;
}
.btn-box{
    width: 345px;
    display: flex;
    gap: 2em;
}

/*SECTION 3*/
.btn-1{
    padding: 15px 28px;
    background-color: black;
    color: white;
    border: 2px solid transparent;
    border-radius: 18px;
    letter-spacing: 1px; 
    font-weight: 600;
    transition: 0.3s ease;
    cursor: pointer;
    
}
.btn-1:hover{
    background-color: #b74b4b;
    color: black;
    border: 2px solid black;
}
.btn-2{
    padding: 15px 28px;
    background-color:#b74b4b;
    color: white;
    border: 2px solid black;
    border-radius: 8px;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight:  600px;
    transition: 0,3s ease;
    cursor: pointer;
}

.btn-2:hover{
    background-color: black;
    color: white;
}

.img-box img{
    border-radius: 50%;
    width: 500px; 
}

::-webkit-scrollbar{
    width: 15px;
}

::-webkit-scrollbar-thumb{
    background-color: #b74b4b;
}

::-webkit-scrollbar-track{
    background-color: rgba(0, 0, 0, 0.6);
    width: 50px;
}

html{
    scroll-behavior:smooth;
}

.about{
    display: flex;
    justify-content: center;
    padding: 12% 8%;
    gap: 10em;
    background: black;
}

.about-img img{
    position: relative;
    width: 550px;
    box-shadow: 0 0 25px #b74b4b,
                0 0 50px #b74b4b;
    border-radius: 50%;
}

.about-content h2{
    text-align: left;
    color: white;
    font-size: 42px;
}

.about-content h3{
    font-size: 62px;
    color: white;
}

.about-content p{
    color: white;
    font-size: 20px;
    margin: 2em 0 3em;
}

.contact-form h2{
    text-align: center;
    margin-top: 3em;
    margin-bottom: 1em;
    font-size: 36px;
}
.contact-form form{
    max-width: 50em;

    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3em;
}
.contact-form form .input-box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contact-form form .input-box input,
.contact-form form textarea{
    width: 100%;
    padding: 1.5em;
    font-size: 18px;
    color: black;
    background-color: rgb(241, 240, 240);
    border-radius: .8rem;
    margin: 1rem 0;
    resize: none;
}

.footer{
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 40px 0;
    background-color: black;
}

.footer .social{
    text-align: center;
    padding-bottom: 25px;
    color: 	#C0C0C0;
}
.footer social a{
    font-size: 24px;
    color: white;
    border: 2px solid #b74b4b;
    width: 100px;
    height: 100px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    box-shadow: inset 0 0 10px #b74b4b, 0 0 10px  #b74b4b;
    transition: 0.3s ease;
}
.footer .social a:hover{
    transform: scale(1.2)translateY(-10px);
    color:#b74b4b;
    border: 2px solid #b74b4b;
}
.footer ul{
    margin-top: 0;
    padding: 0;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}
.footer ul li a{
    color: white;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease; 
}
.footer ul li a:hover{ 
    border-bottom: 3px solid #b74b4b;
}
.footer ul li{
    display: inline-block;
    padding: 0 15px
}
.footer .copyright{
    margin-top: 15px;
    text-align: center;
    font-size: 12px;
    color: white;
}

/*Akoa responsive*/

@media (max-width: 1200px) {

    .header {
        padding: 10px 5%; 
        flex-direction: column; 
        align-items: middle; 
    }

    .navbar {
        flex-direction: column-reverse; 
        padding: 10px;
    }

    .navbar a {
        margin: 100px 0; 
        font-size: 16px; 
    }

    .home {
        flex-direction: column;
        padding: 200px 5%; 
        gap: 2em; 
    }

    .home-content h3 {  
        font-size: 100px; 
    }

    .home-content h1 {
        font-size: 40px;
    }

    .home-content p {
        font-size: 16px; 
    }

    .btn-box {
        flex-direction: column; 
        gap: 1em; 
    }

    .img-box img {
        width: 100%; 
        height: auto; 
    }

    .about {
        flex-direction: column; 
        padding: 20px 5%;
        gap: 2em; 
    }

    .about-img img {
        width: 100%; 
        height: auto; 
    }

    .about-content h2 {
        font-size: 30px;
    }

    .about-content h3 {
        font-size: 40px; 
    }

    .about-content p {
        font-size: 16px; 
    }

    .contact-form form {
        max-width: 100%;
        padding: 0 5%; 
    }

    .footer .social a {
        font-size: 20px; 
    }

    .footer ul li {
        padding: 0 5px; 
    }
    .footer .copyright {
        font-size: 10px;
}


@media (max-width: 390px) {
    .header {
        padding: 15px 5%; 
        flex-direction: column; 
        align-items: flex-start; 
    }

    .navbar {
        flex-direction: column; 
        margin-top: 10px; 
    }

    .navbar a {
        margin: 10px 0; 
        font-size: 14px; 
    }

    .home {
        background-size: 100%;
        flex-direction: column; 
        padding: 20px 5%; 
        gap: 1em; 
    }

    .home-content h3 {  
        margin-top: 150px;
        font-size: 30px; 
    }

    .home-content h1 {
        font-size: 32px; 
    }

    .home-content p {
        font-size: 14px;
    }

    .btn-box {
        width: 100%;
        box-sizing: auto;
        flex-direction: column; 
        gap: 1em;
    }

    .img-box img {
        width: 100%; 
        height: auto; 
    }

    .about {
        flex-direction: column; 
        padding: 40px 5%; 
        gap: 1em; 
    }
    .about-img img {
        width: 100%; 
        height: auto; 
    }

    .about-content h2 {
        font-size: 24px; 
    }

    .about-content h3 {
        font-size: 90%; 
    }

    .about-content p {
        font-size: 14px; 
    }

    .contact-form form {
        max-width: 100%; 
        padding: 0 5%; 
    }

    .footer .social a {
        font-size: 18px; 
    }

    .footer ul li {
        padding: 0 5px; 
    }

    .footer .copyright {
        font-size: 10px;
    }
    .btn-1 {
        width: 150px;

    }
}


@media (max-width: 100px) {
    
    .home-content h3 {
        font-size: 16px;
    }

    .home-content h1 {
        font-size: 24px; 
    }

    .home-content p {
        font-size: 12px; 
    }

    .about-content h2 {
        font-size: 16px; 
    }

    .about-content h3 {
        font-size: 24px; 
    }

    .about-content p {
        font-size: 12px; 
    }

    .contact-form h2 {
        font-size: 16px; 
    }

    .footer .copyright {
        font-size: 8px; 
    }
}
}
    